@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Nei hæ " + User.Identity.GetUserName() + "! Gaman að sjá þig!", "Index", "Account", routeValues: null, htmlAttributes: new { title = "My Profile" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Nýskráning", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Innskráning", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li><a href="#" onclick="changeLang('en')"><img src="~/Content/code52.i18n/images/flags/gb.png" /></a></li>
    </ul>
}

<head>
    <title></title>
    <script src="/Scripts/jquery-1.2.6.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.cookie.js" type="text/javascript"></script>
</head>

<script type="text/javascript">
    function changeLang(lang) {
        $.cookie('lang', lang);
        window.location.reload();
        return false;
    }
</script>
