
@{
    Layout = null;
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table class="search">
        <tr>
            <td colspan="4">
                <div class="input-group">
                    @Html.TextBox("query", "", new { id = "searchbox", @class="form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Leita</button>
                    </span>
                </div>
            </td>
        </tr>
            <tr class="btn-group">
                <td>
                    <select id="language" name="language">
                        <option value="any" selected="selected">Tungumál</option>
                        <option value="is">íslenska</option>
                        <option value="gb">enska</option>
                        <option value="pl">pólska</option>
                        <option value="dk">danska</option>
                        <option value="se">sænska</option>
                        <option value="no">norska</option>
                        <option value="fi">finnska</option>
                        <option value="fo">færeyska</option>
                        <option value="de">þýska</option>
                        <option value="fr">franska</option>
                        <option value="es">spænska</option>
                        <option value="it">ítalska</option>
                    </select>
                </td>
                    <td>
                        <select id="tegund" name="type">
                            <option value="any" selected="selected">Tegund</option>
                            <option value="Kvikmynd">Kvikmynd</option>
                            <option value="Þáttur">Þáttur</option>
                        </select>
                    </td>
                    <td>
                        <select id="flokkur" name="genre">
                            <option value="any" selected="selected">Flokkur</option>
                            <option value="Drama">Drama</option>
                            <option value="Fantasía">Fantasía</option>
                            <option value="Gamanmynd">Gamanmynd</option>
                            <option value="Hasar">Hasar</option>
                            <option value="Heimildarmynd">Heimildarmynd</option>
                            <option value="Rómantík">Rómantík</option>
                            <option value="Teiknimynd">Teiknimynd</option>
                            <option value="Vísindaskáldskapur">Vísindaskáldskapur</option>
                            <option value="Ævintýri">Ævintýri</option>
                        </select>
                    </td>
                    <td>
                        <label class="hear" for="heyrnarskertur">&nbsp;Texti fyrir heyrnarskerta</label>
                        <input class="hear" type="checkbox" name="hear">
                    </td>
    </tr>
           
</table>
}