
@{
    Layout = null;
}

<div id="form">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.TextBox("query")
        <input type="submit" value="Leita" />

        <input type="checkbox" name="hear">
        <label for="heyrnarskertur">Texti fyrir heyrnarskerta</label>

        <select id="language">
            <option selected="selected">Tungumál</option>
            <option value="is">Íslenska</option>
            <option value="en">Enska</option>
        </select>

        <select id="tegund" name="type">
            <option selected="selected">Tegund</option>
            <option value="Kvikmynd">Kvikmynd</option>
            <option value="Þáttur">Þáttur</option>
        </select>

        <select id="flokkur" name="genre">
            <option selected="selected">Allir flokkar</option>
            <option value="Drama">Drama</option>
            <option value="Fantasía">Fantasía</option>
            <option value="Gamanmynd">Gamanmynd</option>
            <option value="Hasar">Hasar</option>
            <option value="Rómantík">Rómantík</option>
            <option value="Teiknimynd">Teiknimynd</option>
            <option value="Vísindaskáldskapur">Vísindaskáldskapur</option>
            <option value="Ævintýri">Ævintýri</option>
        </select>
    }
</div>
