﻿@using Translation.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "User";
}

@using (Html.BeginForm("Index", "Account", FormMethod.Post))
{
    <h2>@User.Identity.GetUserName()</h2>
    
    <table style="width:300px">
        <tr>
          <td>Notendanafn:</td>
          <td>@User.Identity.GetUserName()</td>		
        </tr>
        <tr>
          <td>Tölvupóstur:</td>
          <td>Jackson</td>		
        </tr>
        <tr>
            <td>Land:</td>
            <td>Jackson</td>
        </tr>
        <tr>
            <td>Meðlimur síðan:</td>
            <td>Jackson</td>
        </tr>
    </table>
    
    @Html.ActionLink("Edit", "Manage");
    
    <h2>Mínar þýðingar</h2>

}