@{
    ViewBag.Title = "Edit";
}


<h2>Breyttu og bættu</h2>

<h2>Lion King</h2>
<h3>Simbalover</h3>

@using (Html.BeginForm("Edit", "Translation", FormMethod.Post))
{
    <p>
        <span class="glyphicon glyphicon-time"></span>
        <input type="time" name="TimeStart"> @("-")
        <input type="time" name="TimeStop">
    </p>
    <p>
        <input type="text" name="FirstLine"><br>
        <input type="text" name="FirstLine">
        
    </p>
    <p>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
    </p>
            <input type="submit" value="Birta texta" />
            <input type="submit" value="Vista" />
}

@using (Html.BeginForm("Edit", "Translation", FormMethod.Post))
{
    <p>
        ....And the baboons are going ape over this
    </p>
    
    <span class="glyphicon glyphicon-arrow-right"></span>
     <p>
        <input type="text" name="FirstLine"><br>
        <input type="text" name="FirstLine">
        
    </p>
    
     <input type="submit" value="Vista" />
}


