
@{
    ViewBag.Title = "Edit";
}

<h2>Lion King</h2>
<h3>Simbalover</h3>

@using (Html.BeginForm("Edit", "Translate", FormMethod.Post))
{
  
    @Html.TextBox("Time_1")
    @Html.TextBox("Time_2")
    @Html.TextBox("Translation")<br />
    
    @("Ný lína")<input type="button" value="+" /><br />
    
    
    <input type="button" value="Birta texta" />
    <input type="submit" value="Vista" />
    
  

    

    
}