@model IEnumerable<Translation.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Translation comments</h2>

@foreach (var item in Model)
{
    <div class="news-item">
        <span class="glyphicon glyphicon-time news-time"></span><span class="news-time">@Html.DisplayFor(model => item.Text)&nbsp;</span>
    </div>
}