@model IEnumerable<Translation.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Translation comments</h2>

@foreach (var item in Model)
{
    <div class="news-item">
        <span class="news-time">@Html.DisplayFor(model => item.Text)&nbsp;</span>
    </div>
}

<div>
    @using (Html.BeginForm("Index", "Translation", FormMethod.Post))
    {
        @Html.TextArea("Text", new { cols = 60, rows = 10 })
        <input type="submit" value="Gogo power rangers" />
    }
</div>