@model IEnumerable<Translation.Models.TextLine>

@{
    ViewBag.Title = "Read";
}

<h2>Read text</h2>

@foreach (var item in Model)
{
    <p>
        @Html.DisplayFor(model => item.TranslationText1)
    </p>
    <p>
        @Html.DisplayFor(model => item.TranslationText2)
    </p>
}
@Html.ActionLink("Til baka", "Index", new { id = Model.First().SubtitleID })