@model IEnumerable<Translation.Models.TextLine>

@{
    ViewBag.Title = "Read";
}

<div>
    @{Html.RenderPartial("~/Views/Shared/_Search.cshtml");}
</div>

<h2>Read text</h2>

@foreach (var item in Model)
{
    <div class="news-item">
        <span class="news-time">@Html.DisplayFor(model => item.OriginalText1)&nbsp;</span>
    </div>
}


