@model Translation.Models.ViewModel
@{
    ViewBag.Title = "Search";
}

<div>
    @{Html.RenderPartial("~/Views/Shared/_Search.cshtml");}
</div>

<h2>Leitarniðurstöður</h2>
@foreach (var item in Model.SubtitleItems)
{
    @Html.DisplayFor(modelItem => item.Name) <br />
}
