@model Translation.Models.ViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Leitarniðurstöður</h2>
@foreach (var item in Model.SubtitleItems)
{
    @Html.ActionLink(item.Name, "Index", new { id = item.ID })
    <br />
}
