@model Translation.Models.ViewModel
@Styles.Render("~/Content/Translation.css")
@{
    ViewBag.Title = "Search";
}
<div class="translation-container">
    <div class="subtitle-full">
        <p>Leitarniðurstöður fyrir "@Request.Params["query"]"</p>
        <table>
            @foreach (var item in Model.SubtitleItems)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Index", new { id = item.ID })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
