.request-container {
    width: 940px;
}

.request-mid {
    width: 460px;
    margin-left: 240px;
}

.input-group {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}