body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 620px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

footer {
    text-align: center;
}

.search {
    width: 460px;
}

.search #searchbox {
    width: 350px;
}

/*.search #searchbutton {
    width:70px;
    float: right;
}*/

.input-group {
    width: 400px;
}

.search select {
    width: 85px;
    height: 25px;
}

.search .hear {
    float: right;
}

.topbar#topbar-left {
    width: 220px;
    height: 70px;
    background-color: lightgray;
    float: left;
}

.topbar#topbar-center {
    width: 460px;
    height: 70px;
    background-color: lightgray;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.topbar#topbar-right {
    width: 220px;
    height: 70px;
    background-color: lightgray;
    float: left;
}

#logo-small {
    width: 220px;
    height: 70px;
}
