.translation-container {
    width: 940px;
}

.subtitle-info {
    width: 700px;
    float: left;
    margin-right: 20px;
}

.subtitle-pic {
    width: 220px;
    float: left;
}

#subtitle-img {
    width: 220px;
    height: auto;
}

.subtitle-comments {
    width: 700px;
}

.subtitle-mid {
    width: 460px;
    margin-left: 240px;
}

.subtitle-full {
    width: 940px;
}

.input-group {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

tr.table-row1 td {
    background-color: #dddddd;
}

#newtrans {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    float: left;
    text-align: left;
    width: 618px;
}

#LionKing {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#nidurstada {
    margin-top: 40px;
    font-size: 2em;
}

#Line1 {
    width: 200px;
}

#Line2 {
    width: 200px;
}

#delete {
    margin-top: 15px;
}

#movietitle {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}