.translation-container {
    width: 940px;
    background-color: aliceblue;
}

.subtitle-info {
    width: 700px;
    float: left;
    margin-right: 20px;
    background-color: lightgray;
}

.subtitle-pic {
    width: 220px;
    float: left;
    background-color: lightgray;
}

#subtitle-img {
    width: 220px;
    height: auto;
}

.subtitle-comments {
    width: 700px;
    background-color:lightgray;
}

.subtitle-mid {
    width: 460px;
    margin-left: 240px;
    background-color:lightgray;
}

.subtitle-full {
    width: 940px;
    background-color: lightgray;
}