@{
    ViewBag.Title = "User";
}

<h2>This is the User route</h2>

<div>
    @{Html.RenderPartial("~/Views/Shared/_Search.cshtml");}
</div>

@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
     <h2> Simbalover </h2>
    
    
\}