@model IEnumerable<Translation.Models.Request>

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{
    <div class="request">
        <span class="request">@Html.DisplayFor(model => item.Name)&nbsp;</span>
    </div>
}

<div id="form">
   @using (Html.BeginForm("Index", "Home", FormMethod.Post))
   {
       @Html.TextBox("Text")
       <input type="submit" value="Leita" />      

    <input type="checkbox" value="heyrnalaus" id="heyrnaskertur">
    <label for="heyrnaskertur">Texti fyrir heyrnaskerta</label>
     
    <select id="tungumál">     
    <option selected="selected">Tungumál</option>
    <option value="íslenska">Íslenska</option>
    <option value="enska">Enska</option>
    </select>   
     
    <select id="tegund">     
    <option selected="selected">Tegund</option>
    <option value="kvikmynd">Kvikmynd</option>
    <option value="þáttur">Þáttur</option>
    </select>  
       
    <select id="flokkur">     
    <option selected="selected">Allir flokkar</option>
    <option value="drama">Drama</option>
    <option value="fantasía">Fantasía</option>
    <option value="gamanmynd">Gamanmynd</option>
    <option value="hasar">Hasar</option>
    <option value="rómantík">Rómantík</option>
    <option value="teiknimynd">Teiknimynd</option>
    <option value="vísindaskáldskapur">Vísindaskáldskapur</option>
    <option value="ævintýri">Ævintýri</option>
    </select>         
   }
</div>



    <div id="table">
    <table>
        <caption><b>Beiðnir</b></caption>
    <tbody>
        <tr>
            <td>Lion King</td>
            <td>Argentína</td>
            <td>127</td>
        </tr>
        <tr>
            <td>Wall-E</td>
            <td>Danmörk</td>
            <td>14</td>
        </tr>
        <tr>
            <td>How I Met Your Mother - Season 1</td>
            <td>Pólland</td>
            <td>5</td>
        </tr>

    </tbody>
    </table>
    </div>

    <input type="button" value="Ný beiðni" />
    <input type="button" value="Ný þýðing" />
    
    

