@model IEnumerable<Translation.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Request List</h2>

@foreach (var item in Model)
{
    <div class="request">
        <span class="request">@Html.DisplayFor(model => item.Name)&nbsp;</span>
    </div>
}

<div id="searchBar">
   @using (Html.BeginForm("Index", "Home", FormMethod.Post))
   {
       @Html.TextBox("Text")
       <input type="submit" value="Search" />

    <input type="checkbox" value="heyrnalaus" /> <p>íslenska fyrir heyrnalausa</p>

   }
</div>
